.tabulka {
    outline: auto;
    width: 300px;
    font-size: 30px;
}

.window {
    width: 300px;
    height: 75px;
    outline: auto;
    text-align: right;
    background-color:rgb(220, 220, 220)
}

button {
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 25px;
}

.equals {
    width: 150px;
    height: 75px;
}
